
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
   
</head>

<body>

    <header id="head" class="secondary">
        <div class="container">
            <h1>About Institute</h1>
            <p>Ekalavya Group of Technologies</p>
        </div>
    </header>


    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>About Us</h3>
                <p>
                    <b>Ekalavya Group of Technologies </b> established in the year 2019 with a prime motto of
                    imparting quality education in engineering and molding the Polytechnic/Diploma students
                    to crack competitive and PSU examinations.From a small coaching center with just a handful of students in the year 2019 in Tirupati,
                    the institute has grown by leaps and bounds and established itself as one of the leading institute in
                    Andhrapradesh for ECET/POLYCET coaching and on subject wise coaching for B.Tech and Polytechnic / Diploma.
                </p>
                <p>
                    <b>Ekalavya Group of Technologies</b> offers 8 weeks/ 6 months Industrial Training or Internships for B.Tech
                    and Polytechnic students of ECE, EEE, CME, IT etc… Our experienced trainers impart practical knowledge,
                    share their experience and prepare students for the Technical World,
                    all these activities are done in the training session. Students also get to work on live projects.
                </p>
                <p>
                    We assistance to enhance the job placement rate also giving the support to students feel more comfortable,
                    more confident, exhibit problem-solving skills, and gain industry exposure during the training period.
                    Industrial Training helps students to learn new technology, stay them updated with market demand,
                    making them aware of new developments and discoveries and develop skills and competencies required to
                    become employable.
                </p>
                <p>
                    <b>Ekalavya Group of Technologies</b> can handle the academic projects related to various technologies
                    for different disciplines like UG & PG. Ekalavya Group of Technologies has been implementing &
                    developing innovative projects in Engineering by providing complete explanation and information.
                </p>
                <p>
                    <b>Ekalavya Group of Technologies</b> Provides innovative engineering skill development solutions for
                    engineering students and who are interested to learn advance technologies in various domains like VLSI,
                    EMBEDDED, IOT, PYTHON, and JAVA etc…
                </p>
                @*<h3>Our Achievements</h3>
                    <strong>2014</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                    <strong>2013</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                    <strong>2012</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
                    <strong>2011</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente. consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>*@
            </section>
            <!-- /main -->
            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>We Provide</h4>
                    <ul class="list-unstyled list-spaces">
                        <li>
                            <a href="">Trainings</a><br>
                            <span class="medium text-muted">VLSI, Embedded, In-Plant, Industrial Trainings etc..</span>
                        </li>
                        <li>
                            <a href="">Workshops</a><br>
                            <span class="medium text-muted">BTech and Polytechnic students of CSE, ECE, EEE,IT,...</span>
                        </li>
                        <li>
                            <a href="">Publications</a><br>
                            <span class="medium text-muted">IEEE, SCI Indexed, SCOPUS, Web of Science, UGC Approved, International Journal</span>
                        </li>
                        <li>
                            <a href="">Webinars</a><br>
                            <span class="medium text-muted">BTech and Polytechnic students of CSE, ECE, EEE,IT,...</span>
                        </li>
                        <li>
                            <a href="">Acadamic and Research Projects</a><br>
                            <span class="medium text-muted">VLSI, Embedded, IOT, Java, Python,etc... for Engineering students</span>
                        </li>
                        <li>
                            <a href="">Internships</a><br>
                            <span class="medium text-muted">BTech and Polytechnic students of CSE, ECE, EEE,IT,...</span>
                        </li>
                        <li>
                            <a href="">Coaching</a><br>
                            <span class="medium text-muted">ECET/POLYCET, BTech, Polytechnic/Diploma Coaching etc..</span>
                        </li>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
    <!-- /container -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Our Team</h3>
                    <p>
                        Mr.Sudhar Raja founded and started Ekalavya Group of Technologies in the Year 2019 along with Mr. Suresh raja,
                        Mr. Suresh Raja leading the Institute as Chief Executive Officer(CEO).
                    </p>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="~/assets/images/ceo2.png" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Suresh Raja</h4>
                        <!-- Designation -->
                        <span class="pos">CEO</span>
                        @*<div class="team-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="~/assets/images/founder.png" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Sudhakar Raja</h4>
                        <!-- Designation -->
                        <span class="pos">Founder</span>
                        @*<div class="team-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>*@
                    </div>
                </div>
                @*<div class="col-md-3 col-sm-6 col-xs-6">
                        <!-- Team Member -->
                        <div class="team-member pDark">
                            <!-- Image Hover Block -->
                            <div class="member-img">
                                <!-- Image  -->
                                <img class="img-responsive" src="~/assets/images/photo-3.jpg" alt="">
                            </div>
                            <!-- Member Details -->
                            <h4>Ranith Kays</h4>
                            <!-- Designation -->
                            <span class="pos">Manager</span>
                            <div class="team-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <!-- Team Member -->
                        <div class="team-member pDark">
                            <!-- Image Hover Block -->
                            <div class="member-img">
                                <!-- Image  -->
                                <img class="img-responsive" src="~/assets/images/photo-4.jpg" alt="">
                            </div>
                            <!-- Member Details -->
                            <h4>Joan Ray</h4>
                            <!-- Designation -->
                            <span class="pos">Creative</span>
                            <div class="team-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </section>


    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    @*<script src="~/assets/js/custom.js"></script>*@
</body>
</html>

